### Numbers

The operators +, -, * and / work just like in most other languages; parentheses (()) can be used for grouping:

In [9]:
(50 - 5*6) / 4

5.0

Division (/) always returns a float. To do *floor division* and get an integer result (discarding any fractional
result) you can use the // operator; to calculate the remainder you can use %:

In [6]:
17 / 3 # classic division returns a float

2

In [7]:
17 // 3 # floor division discards the fractional part

5

In [8]:
17 % 3 # the % operator returns the remainder of the division

2

The ** operator to calculate powers:

In [10]:
2 ** 5

32

Operators with mixed type operands convert the integer operand to floating point:

In [11]:
4 * 3.75 - 1

14.0

### Strings

Strings can be enclosed in single quotes ('...') or double quotes ("...") with the same result. 
\ can be used to escape quotes:

In [17]:
'I' # single quotes

'I'

In [21]:
'don\'t follow you' # use \' to escape the single quote...

"don't follow you"

In [20]:
"don't follow you" # ...or use double quotes instead

"don't follow you"

In the interactive interpreter, the output string is enclosed in quotes and special characters are escaped with
backslashes:

In [30]:
"What's your name?\nYes, please\nWhat?" # \n means newline

"What's your name?\nYes, please\nWhat?"

The `print()` function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [31]:
print("What's your name?\nYes, please\nWhat?") # with print(), \n produces a new line

What's your name?
Yes, please
What?

If you donâ€™t want characters prefaced by \ to be interpreted as special characters, you can use *raw strings* by adding an `r` before the first quote:

In [32]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [33]:
print(r'C:\some\name') # note the r before the quote

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. This is particularly usefull for adding a documentation paragraph:

In [35]:
print("""This notebook contains everything you need to start with Python.
Feel free to play with it.
For obvious ecological reasons, avoid to print it!
""")

This notebook contains everything you need to start with Python.
Feel free to play with it.
For obvious ecological reasons, avoid to print it!

Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [36]:
3 * "Dad! " + "Look at the big hole I made in the garden."

'Dad! Dad! Dad! Look at the big hole I made in the garden.'

### Lists

*list* objects are written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type:

In [18]:
numbers = ['zero', 'one', 'two', 'three', 'four', 'five', 'six']
print(numbers)
repeat = ['idem'] * 4  # create a list by repeating the same value four times
print(repeat)

['zero', 'one', 'two', 'three', 'four', 'five', 'six']
['idem', 'idem', 'idem', 'idem']

Lists can be indexed and sliced:

In [19]:
numbers[0] # first element (in Python, the position of the first element is 0, not 1)

'zero'

In [20]:
numbers[-1] # last element

'six'

and sliced. A slice is defined with the syntax `start:stop:step`. `start`, `stop` and `step` are optional. By default, `start`=first element, `stop`=last element included and `step`=1. Negative values for `step` are allowed. WARNING: in Python, the slice `start`:`stop` will select all elements in the range `[start, stop[` (last position is excluded):

In [21]:
numbers[1:4] # take elements from position 1 to 3

['one', 'two', 'three']

In [24]:
numbers[::2] # select elements at positions 0, 2, 4 and 6

['zero', 'two', 'four', 'six']

In [25]:
numbers[::-2] # select elements at positions 6, 4, 2 and 0

['six', 'four', 'two', 'zero']

All slice operations return a new list containing the requested elements. This means that the following slice returns a new copy of the list:

In [26]:
numbers = ['zero', 'one', 'two', 'three', 'four', 'five', 'six']
numbers_alias = numbers         # numbers_alias and numbers point to the same list in memory
numbers_alias[0] = '0'          # first element of BOTH numbers_alias and numbers is modified
print('numbers:      ', numbers)
print('numbers_alias:', numbers_alias)

numbers:       ['0', 'one', 'two', 'three', 'four', 'five', 'six']
numbers_alias: ['0', 'one', 'two', 'three', 'four', 'five', 'six']

In [27]:
numbers = ['zero', 'one', 'two', 'three', 'four', 'five', 'six']
slice_of_numbers = numbers[:3]  # taking a slice returns a NEW list
slice_of_numbers[0] = '0'       # only first element of slice_numbers is modified
print('numbers:         ', numbers)
print('slice_of_numbers:', slice_of_numbers)

numbers:          ['zero', 'one', 'two', 'three', 'four', 'five', 'six']
slice_of_numbers: ['0', 'one', 'two']